.Toggle-game-state {
    text-align: left;
    margin-top: 50pt;
    margin-bottom: 10pt;
    margin-left: 30pt;
  }
  
  .Input-select-size {
    text-align: left;
    margin-top: -40.4pt;
    margin-left: 580pt;
    margin-bottom: 10pt;
  }
  